:root {
    --main-bgcoloralph: hsla(229, 100%, 50%, 0.5);
    --main-bgcolor: rgb(255, 255, 255);
    --main-color: rgb(0, 0, 0);
}

body {
    background: var(--main-bgcolor);
    color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    width: 100%;
}

#title {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color: var(--main-bgcoloralph);
}

.nav-link {
    color: var(--main-color);
}

@keyframes start {
    0% {
        width: 0px;
    }

    100% {
        width: 100px;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.floating {
    animation: float2 3s ease-in-out infinite;
}

.floating2 {
    animation: float 3s ease-in-out infinite;
}

.typing {
    overflow: hidden;
    width: fit-content;
    /* Hide overflowing text */

    /* Create a typing cursor */

    /* Make text appear on one line */
    animation: typing 1s steps(30, end) 1;
}

@keyframes typing {
    0% {
        border-right: 1px solid var(--main-bgcolor);
        width: 0;
    }

    100% {
        width: 100%;
        /* Fully display the text */
        border-color: var(--main-bgcolor);
        border-right: 0px solid var(--main-bgcolor);
        /* Show the typing cursor at the end */
    }
}

#mainImg {
    object-fit: cover;
    background: var(--main-bgcoloralph);
}

button.navbar-toggler.btn {
    border: none;
}

.fa-bars:before,
.fa-navicon:before {
    color: var(--main-color);
}

.personalIMg {
    position: relative;
}

.personalIMg #cloude {
    position: absolute;
    bottom: 10px;
    left: -100px;
    width: 100px;
    font-size: 200px;
    animation: float 4s ease-in-out infinite;
}


.personalIMg #cloude2 {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 100px;
    font-size: 200px;
    animation: float 6s ease-in-out infinite;
}


#border {
    height: 25px;
    width: 100px;
    background: var(--main-bgcoloralph);
    border-radius: 8px;
    z-index: 100;
    box-shadow: 0px 0px 0px 0px var(--main-bgcolor);
}

#borderRange {
    z-index: 1000;
    height: 25px;
    width: 90px;
    background: var(--main-color);
    border-radius: 8px;
    animation: start 500ms ease-in-out 1;
}

.cls-1 {
    fill: var(--main-color) !important;
    width: 10px;
}